data.json
.env
node_modules
tests
pAWS
.prettierrc
.prettierignore
AppDone_preAdj.code-workspace
trialAppAlmostDone.code-workspace
trialAppUTS.code-workspace
finalApp.code-workspace
trialApp.code-workspace